<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注册到IOC中 -->
    <bean id="rpcServer" class="com.anthonyzero.server.RPCServer"></bean>

    <bean id="userService" class="com.anthonyzero.example.UserServiceImpl"></bean>
</beans>